.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.25%;
    padding-top: 0.4%;
}

.header-quanment{
    font-size: 140%;
    margin-left: 15.5%;
    font-weight: bolder;
}

.header-history{
    font-size: 80%;
    margin-right: 12.5%;
    padding-top: 0.6%;
    font-weight: normal;
}