<div class="quantity">
    <div class="quantity-layout">
        <p class="choose-type">CHOOSE TYPE</p>
        <div class="quantity-button">
            <div class="length" tabindex="1">
                <p tabindex="1">Length</p>
            </div>
            <div class="tempreture" tabindex="2">
                <p tabindex="2">Tempreture</p>
            </div>
            <div class="volume" tabindex="3">
                <p tabindex="3">Volume</p>
            </div>
        </div>
        <app-conversion></app-conversion>
    </div>
</div>