$active-scale-icon: url('../../../assets/scale.svg');
$inactive-scale-icon: url('../../../assets/scale-1.svg');
$active-hot-icon: url("../../../assets/hot-1.svg");
$inactive-hot-icon: url("../../../assets/hot.svg");
$active-beaker-icon: url("../../../assets/beaker.svg");
$inactive-beaker-icon: url("../../../assets/beaker-1.svg");

$white: #FFFFFF;
$grey: #C9C9C9;
$green:#0EC098;
$light-green:#EDFDF9;
$purple: #7224FF;
$light-purple:#E8DDFF;
$red:#FD5160;
$light-red: #FFEEF0;

.quantity{
    padding-top: 0.3%;
    margin-right: -0.6%;
    margin-left: -0.6%;
}

.quantity-layout{
    margin-left: 29%;
    margin-top: 3.8%;
    width: 42%;
    height: 70%;
}

.choose-type{
    font-weight: 600;
    font-size: 100%;
}

@mixin buttons {
    background-repeat: no-repeat;
    background-position: 50% 40%;
    height: 138px;
    width: 170px;
    background-color:$white;
    border-radius: 5%;
    cursor: pointer;
    box-sizing: border-box;
}

@mixin  button-heading {
    margin-top: 100px;
    color:$grey;
    text-align: center;
    font-weight: bolder;
}

@mixin length-hover {
    @include buttons();
    background-image: $active-scale-icon;
    border:1px solid $green;
    background-color:$light-green;
    outline: none;
    p{
        @include button-heading();
        color:$green;
    }
}

@mixin  volume-hover {
    @include buttons();
    background-image: $active-beaker-icon;
    border:1px solid $purple;
    background-color: $light-purple;
    outline: none;
    p{
        @include button-heading();
        color:$purple;
    }
}

@mixin  tempreture-hover {
    @include buttons();
    background-image: $active-hot-icon;
    border:1px solid $red;
    background-color: $light-red;
    outline: none;
    p{
        @include button-heading();
        color:$red;
    }
}

.length{
    background-image: $inactive-scale-icon;
    @include buttons();
}

.length:hover{
    @include length-hover();
}

.active-length{
    @include length-hover();
}

 .length p{
    @include button-heading();
    outline: none;
 }

.volume{
    background-image: $inactive-beaker-icon;
    @include buttons();
}

.volume:hover{
    @include volume-hover();
}

.active-volume{
    @include volume-hover();
}

 .volume p{
    @include button-heading();
    outline: none;
 }

.tempreture{
    background-image: $inactive-hot-icon;
    @include buttons();
}

.tempreture:hover{
    @include tempreture-hover();
}

.active-tempreture{
    @include tempreture-hover();
}

 .tempreture p{
    @include button-heading();
    outline: none;
 }
