<div class="quantity">
    <div class="quantity-layout">
        <p class="choose-type">CHOOSE TYPE</p>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div (click)="clickEvent('lengthUnit')"
            [ngClass]="length ? 'active-length' : 'length'">
                <p>Length</p>
            </div>
            <div (click)="clickEvent('tempretureUnit')"
            [ngClass]="tempreture ? 'active-tempreture' : 'tempreture'">
                <p>Tempreture</p>
            </div>
            <div (click)="clickEvent('volumeUnit')"
            [ngClass]="volume ? 'active-volume' : 'volume'">
                <p>Volume</p>
            </div>
        </div>
    <app-conversion [subUnit]="subUnit"></app-conversion>
    </div>
</div>
