$grey-border:#E5DAFC;

.conversion{
    display: flex;
    flex-direction: row;
    padding-top: 8%;
}

@mixin paragraph {
    padding-top: 8%;
    font-size: 80%;
    padding-left: 2%;
    margin-bottom: 1.5%;
}

@mixin input {
    height: 70%;
    border-style: none;
    border-top: 1px solid $grey-border;
    border-left: 1px solid $grey-border;
    border-right: 1px solid $grey-border;
}

@mixin  select-unit {
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    padding: 0.6em 9.9em 0.5em 1.9em;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    @include input();
    border-bottom: 1px solid $grey-border;
}

@mixin input-value {
    @include input();
    padding: 0.1em 0.5em 0em 0.8em;
    font-size: 34px;
    font-weight: 600;
    outline: none;
}

@mixin input-main {
    width: 51.8%;
}

@mixin input-style {
    -webkit-appearance: none;
    margin: 0;
}

.input{
    @include input-main();
}

.input p{
    @include paragraph();
}

.input input{
    @include input-value();
}

.input input::-webkit-outer-spin-button,
.input input::-webkit-inner-spin-button {
    @include input-style();
}

.input select{
    @include select-unit();
}

.input select:focus {
    border-color: $grey-border;
    outline: none;
  }
.input select option {
    font-size: 14px;
    padding: 5%;
    outline: none;
  }

.input2{
    @include input-main();
    margin-right: -3.8%;
}

.input2 p{
    @include paragraph();
}

.input2 input{
    @include input-value();
}

.input2 input::-webkit-outer-spin-button,
.input2 input::-webkit-inner-spin-button {
    @include input-style();
}

.input2 select{
    @include select-unit();
}

.input-margin{
    width: 92%;
    height: 110px;
    display: flex;
    flex-direction: column;
}